{% extends 'base.html' %}

{% block content %}

<div class="card text-center">

    <div class="card-header bg-danger text-white">
        <h3>Delete Department</h3>
    </div>

    <div class="card-body">

        <h4>
            Are you sure you want to delete
            <strong>{{ department.name }}</strong>?
        </h4>

        <form method="POST">

            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Yes, Delete
            </button>

            <a href="{% url 'department_list' %}" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}