{% extends 'base.html' %}

{% block content %}

<div class="card">

    <div class="card-header bg-warning">
        <h3>Update Department</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label for="name" class="form-label">Department Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ department.name }}" placeholder="Enter department name" required>
            </div>

            <button type="submit" class="btn btn-warning">
                Update
            </button>

            <a href="{% url 'department_list' %}" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}